<html>
<head>
    <title>----BOOK----</title>
</head>
<body>
<header>
    <style>
        legend {
            display: block;
            padding-left: 2px;
            padding-right: 2px;
            border: none;
        }
    </style>
</header>
<nav>
    <a href="/">Search</a> |
    <a href="/books">List Books</a> |
    <a href="/create"> Create book </a> |
</nav>
<section>
    <fieldset>
        <legend>--BOOK--</legend>
        <label> Title </label>
        <input type="text" name="title" placeholder="Text"><br>
        <label> Author </label>
        <input type="text" name="author" placeholder="Text"><br>
        <label> Publisher </label>
        <input type="text" name="publisher" placeholder="Text"><br>
        <input type="submit" value="Search">
    </fieldset>
</section>
</body>
</html>